{% extends 'base.html.twig' %}

{% block title %}Billetterie Musée du Louvre{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 text-center mt-5">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid cupiditate distinctio
                dolores ea eveniet, hic itaque minima natus optio quibusdam quis ratione repellendus soluta tenetur
                ullam vel voluptate. Odit.
                Asperiores beatae corporis dolor, doloremque, eaque eos est et hic ipsam ipsum laborum magni natus non
                perferendis porro quas quia quos ratione sapiente similique sint sunt tenetur velit veritatis
                voluptatum.
                Aliquam amet asperiores consequatur dolor exercitationem, iste necessitatibus nesciunt! Amet animi,
                corporis deserunt ducimus eligendi incidunt ipsum iusto magnam maiores modi molestiae molestias nam
                nobis praesentium quod ratione tenetur voluptatibus?
            </p>
            <a href="{{ path('order_ticket') }}" class="btn btn-success" role="button">Acheter des billets</a>
        </div>

    </div>

{% endblock %}
