{% extends 'base.html.twig' %}

{% block title %}Achat de billets en ligne{% endblock %}

{% block body %}


    {{ form_start(form.tickets) }}
    {{ form_widget(form.tickets) }}
    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form.tickets) }}



{% endblock %}
