{% extends 'base.html.twig' %}

{% block title %}Achat de billets en ligne{% endblock %}

{% block body %}

    {{ form_start(ticket) }}
    {{ form_widget(ticket) }}
    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(ticket) }}



{% endblock %}
