{% extends 'base.html.twig' %}

{% block title %}Achat de billets en ligne{% endblock %}

{% block body %}


    {{ form_start(form) }}
    {% for fticket in form.tickets %}
      Visiteur n° {{ loop.index }}
        {{ form_widget(fticket) }}
        <hr>
    {% endfor %}

    <button type="submit" class="btn btn-success">Valider</button>
    {{ form_end(form) }}



{% endblock %}
